@charset "utf-8";
/* CSS Document */
ul,li,h1,h2,h3,p{ padding:0; margin:0; list-style:none}
h2{ padding-bottom:15px}
a{ text-decoration:none; color:#000}
html{ background:#cabcb9}
img{ max-width:100%; display:block}
body{  line-height:24px; margin:0}
.main{width:1000px; margin:0 auto;}
.clear{ clear:both}
.menu li{ list-style:none}
.banner{margin-bottom:10px; position:relative; clear:both}
.menu{ width:100%;  text-align:center; background:#998d86; margin-bottom:20px;  position:relative; z-index:55; float:left}
.menu li a{ display:block; padding:10px 0; color:#fff}
.menu li { float:left;font-size:14px; padding:0px 0px ; width:250px}
.menu li a:hover{ background:#996633}
.content{ padding-bottom:20px;font-size:14px; display:inline-block ;  width:100%}
.end{ background:#998d86; color:#fff; clear:both;padding:20px 0; text-align:center;}
.pad{ padding:20px; display:block}

.scrollleft li{ width:190px; text-align:center; margin:5px; float:left}
.bar{ border:#735f53 solid 1px; border-left:#735f53 solid 3px; padding:5px 10px; margin:20px 0}
.fl{ float:left}
.fr{ float:right}
.title{ padding:30px 0}
.head{ color:#efefef; background:#efefef; font-size:36px; padding:20px 0}
.ass{ margin:10px}
.ass li{ width:31.3%; margin:1%; float:left; text-align:center}
.ass li img{ display:inline-block; border:#fff solid 1px; padding:5px} 
.about{ font-size:16px; line-height:24px}

.news li a{ color:#993333}
.news li{ font-size:18px; height:30px; border-bottom:#999966 solid 1px; padding:20px; background:#DED7D1; margin:10px 0;}
.info .r{ font-size:22px; padding-top:50px; line-height:45px; letter-spacing:10px;}
